<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.UpdateCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/update_category</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.DeleteCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/delete_category</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteItem</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.DeleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintReport</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.PrintReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.ViewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayMembership</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.PayMembership</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unregister</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.Unregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuctionItem</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.AuctionItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyAuctions</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.ViewMyAuctions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportTransaction</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.ReportTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BidOnItem</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.BidOnItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackAuction</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.TrackAuction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReAuctionItem</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.ReAuctionItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindItems</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.FindItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrowseCategory</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.BrowseCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMembershipPrice</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.SetMembershipPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DefineCategory</servlet-name>
        <servlet-class>edu.uga.dawgtrades.servlets.DefineCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>




</web-app>